<header>
  <nav>
    <div class="logo">
      <h2><a href="/">Smart TODO List</a></h2>
      <i class="fa-solid fa-list-check"></i>
    </div>
    <% if (!userId) { %>
      <div class="nav-links">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
       </div>
      <% } else { %>
        <div class="right-side">
          <label>Hello <%= user.name %> !&nbsp</label>
          <a href="/profile"><button>Profile</button></a>
          <form method="POST" action="/logout">
            <a href="/"><button>Logout</button></a>
        </form>
        </div>
      <% } %>
  </nav>
</header>
