<div class="list-item" style="color:white;">
  <%= item.todo_name %>
  <%= item.created_date %>
  <form method="POST" action="/todo/edit/<%= item.id %>">
    <button type="submit">EDIT</button>
  </form>
  <form method="POST" action="/todo/<%= item.id %>">
    <button type="submit">DELETE</button>
  </form>
</div>
