<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/add_todo.css" />
  <link rel="stylesheet" href="/styles/list_cards.css" />

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <span>Smart TODO List</span>
      <div class="login-container">
        <form action="/login">
          <input type="text" placeholder="Username" name="username">
          <input type="text" placeholder="Password" name="psw">
          <button type="submit">Login</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- add item form -->
  <div class="add-item">
    <span class="input-group p-2">
      <input id="itemInput" class="form-control todo-item" placeholder="Add a ToDo!" name="item">
      <button class="btn"><i class="fa-solid fa-plus"></i></button>
    </span>
  </div>

<!-- list cards -->
<div class="list-container">
  <div class="card-deck categories">

    <!-- to read list column -->
    <div class="card read-list">
      <h5 class="card-header" id="read-header">To Read</h5>
      <div class="card-block" id="read-block">
        <ul class="list-group list-group-flush" id="read-items">
        </ul>
      </div>
    </div>

    <!-- to watch list column -->
    <div class="card watch-list">
      <h5 class="card-header" id="watch-header">To Watch</h5>
      <div class="card-block" id="watch-block">
        <ul class="list-group list-group-flush" id="watch-items">
        </ul>
      </div>
    </div>

    <!-- to buy list column -->
    <div class="card buy-list">
      <h5 class="card-header" id="buy-header">To Buy</h5>
      <div class="card-block" id="buy-block">
        <ul class="list-group list-group-flush" id="buy-items">
        </ul>
      </div>
    </div>

    <!-- to eat list column -->
    <div class="card eat-list">
      <h5 class="card-header" id="eat-header">To Eat</h5>
      <div class="card-block" id="eat-block">
        <ul class="list-group list-group-flush" id="eat-items">
        </ul>
      </div>
    </div>

</body>
</html>
