<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="https://kit.fontawesome.com/528841148f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/add_todo.css" />
  <link rel="stylesheet" href="/styles/list_cards.css" />

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <!-- add item form -->
  <div class="add-item">
    <h2>Add a new ToDo!</h2>
    <form class="item" action="/items/" method="POST">
      <div class="form-group">
        <input autocomplete='off'  class="form-control" type="text" name="item">
        <button type="submit" class="btn btn-primary fas fa-plus"></button>
      </div>
    </form>
  </div>

<!-- list cards -->
<div class="list-container">
  <!-- <div class="card-deck categories"> -->

    <!-- to read list column -->
    <div class="card read-list">
      <h5 class="card-header" id="read-header">To Read</h5>
      <div class="card-block" id="read-block">
        <ul class="list-group list-group-flush" id="read-items">
        </ul>
      </div>
    </div>

    <!-- to watch list column -->
    <div class="card watch-list">
      <h5 class="card-header" id="watch-header">To Watch</h5>
      <div class="card-block" id="watch-block">
        <ul class="list-group list-group-flush" id="watch-items">
        </ul>
      </div>
    </div>

    <!-- to buy list column -->
    <div class="card buy-list">
      <h5 class="card-header" id="buy-header">To Buy</h5>
      <div class="card-block" id="buy-block">
        <ul class="list-group list-group-flush" id="buy-items">
        </ul>
      </div>
    </div>

    <!-- to eat list column -->
    <div class="card eat-list">
      <h5 class="card-header" id="eat-header">To Eat</h5>
      <div class="card-block" id="eat-block">
        <ul class="list-group list-group-flush" id="eat-items">
        </ul>
      </div>
    <!-- </div> -->

</body>
</html>
