header {
  display: flex;
  height: 125px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background: none;
  color: #ffffff;
  padding: 1.5em;
  z-index: 1;
}

span {
  font-size: 30px;
}


/* Style the input field inside the navbar */
.nav input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 100px;
  font-size: 20px;
}

.nav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.login-container {
  float: right;
}
