header {
  display: flex;
  height: 125px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background: none;
  color: #ffffff;
  padding: 1.5em;

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 18%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;

  i {
    padding-left: 5px;
    font-size: 30px;
  }
}

button {
  font-size: 20px;
  color: white;
  border: black;
  background-color: black;
}
