$read: rgba(246, 126, 117, 0.73);
$watch: rgba(60, 183, 160, 0.75);
$buy: rgba(135, 73, 124, 0.72);
$eat: rgba(64, 156, 193, 0.77);

.list-container {
  padding-top: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 18.5%;
  max-height: 60vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-header {
    border-radius: 13px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 30px;
  }
}

.read-list {
  border: 1px solid $read;
  #read-header {
    background-color: $read;
  }
  #read-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $read;
    }
  }
}

.watch-list {
  border: 1px solid $watch;
  #watch-header {
    background-color: $watch;
  }
  #watch-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $watch;
    }
  }
}

.buy-list {
  border: 1px solid $buy;
  #buy-header {
    background-color: $buy;
  }
  #buy-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $buy;
    }
  }
}

.eat-list {
  border: 1px solid $eat;
  #eat-header {
    background-color: $eat;
  }
  #eat-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $eat;
    }
  }
}
