@import "../node_modules/bootstrap/scss/bootstrap";

$read: rgba(242, 123, 114, 0.73);
$watch: rgba(51, 172, 150, 0.75);
$buy: rgba(127, 76, 118, 0.72);
$eat: rgba(61, 161, 201, 0.77);

.card {
  margin-bottom: 10px;
  .card-header {
    color: white;
  }

.custom-control-input {
  &:focus ~ .custom-control-indicator {
    box-shadow: none;
  }
}

  .icon-wrap {
    visibility: hidden;
  }
  .list-group-item:hover .icon-wrap {
    color: gray;
    visibility: visible;
    .fa {
      float: right;
      margin: 5px 5px 0;
    }
  }
}

.read-list {
  border: 1px solid $read;
  #read-header {
    background-color: $read;
  }
  #read-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $read;
    }
  }
}

.watch-list {
  border: 1px solid $watch;
  #watch-header {
    background-color: $watch;
  }
  #watch-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $watch;
    }
  }
}

.buy-list {
  border: 1px solid $buy;
  #buy-header {
    background-color: $buy;
  }
  #buy-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $buy;
    }
  }
}

.eat-list {
  border: 1px solid $eat;
  #eat-header {
    background-color: $eat;
  }
  #eat-items .custom-control-input {
    &:checked ~ .custom-control-indicator {
      background-color: $eat;
    }
  }
}
